* {
  margin: 0px;
  padding: 0px;
  font-family:  'Montserrat';
}

svg {
  border: 3px solid steelblue;
  box-shadow: 6px 6px 5px black;
  position: absolute;
  background: rgb(150, 150, 150);
  background: -moz-radial-gradient(center, ellipse cover, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  filter: sepia(30%);
  left: 20%;
  z-index: -1;
  /*background: -webkit-linear-gradient(top, #ccc 0%, #000 100%);
  background: linear-gradient(to bottom, #ccc 0%, #000 100%);*/
}

.node {
  cursor: pointer;
}

.node rect {
  fill: rgb(34, 61, 179);
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 11px sans-serif;
}

.link {
  fill: none;
  stroke: rgba(80, 73, 113, 0.7);
  stroke-width: 4px;
}

a {
  /*font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
  text-decoration: none;
  padding: 10px;
  letter-spacing:3px;
  border-top: 4px solid white;
  transition: .3s;
}

a:link, a:visited{
  color: rgb(13, 120, 166);
}
a:hover{
  border-top: 4px solid dodgerblue;
  transition: 1.1s;
  color:red;
}



input {
  border: 3px solid rgb(0, 130, 208);
  color: #0082d0;
  font-size: 1vw;
  padding: 10px;
}

input:hover {
  background: #0082d0;
  color: #fff;
  transition: 500ms;
}

.center {
  padding: 1px;
  width: 100%;
  /*margin: auto;*/
  text-align: center;
}


hr{
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
  height: 0px;
  border-radius: 2px;
  color: teal;
  border: 2px solid currentColor;
  width: 80%;
}


/*TOP NAV*/

#topNav {
  margin-top: 10px;
}

#topNav ul li {
  list-style: none;
  display: inline-block;
}

#topNav a {}


/*SIDEBAR PANEL*/

.rightNav {
  width: 240px;
  position: fixed;
  height: 80%;
  background: #151719;
  right: -250px;
  transition: 600ms;
  border-style: double;
  border-width: thick;
  border-radius: 10px;
}

.rightNav.active {
  right: 0px;
  transition: 800ms;
}

.rightNav ul li {
  color: #718ec7;
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgb(195, 60, 24, 0.3);
  text-align: center;
}

.rightNav li:hover {
  cursor: pointer;
  color: #96b4f0;
}

.toggleBtn {
  position: absolute;
  right: 260px;
  top: 10px;
  transition: 888ms;
}

.toggleBtn.active {
  visibility: hidden;
  transition: 100ms;
}

.toggleBtn span {
  display: block;
  width: 30px;
  height: 5px;
  background: #718ec7;
  margin: 5px 0px;
}


/*CLOSE SIDEBAR BUTTON */

.outer {
  position: relative;
  margin: auto;
  width: 70px;
  margin-top: 100px;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}

label {
  font-size: .8em;
  line-height: 4em;
  text-transform: uppercase;
  color: steelblue;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner:before, .inner:after {
  position: absolute;
  content: '';
  height: 3px;
  width: inherit;
  background: rgb(195, 60, 24, 0.3);
  left: 0;
  transition: all .3s ease-in;
}

.inner:before {
  top: 50%;
  transform: rotate(45deg);
}

.inner:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before, .outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}
